.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.white{
	color:#FFFFFF;
}

.correction-row-css{
	margin-left:0px;
	margin-right:0px;
}

.correction-animated-css{
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
}

.correction-dropdown-menu-padding{
	padding:0px;
}

.correction-cancel-border{
	border:0px
}

.correction-dropdown-btn-css{
	border:0px;
	text-align:left;
	font-size: 13px;
	padding: 6px 20px;
}

.correction-alerts{
	position:absolute;
	padding:6px;	
}

.correction-clear-col-xs-padding{
	padding: 0px
}

.table-list-text-css{
	padding-top: 6px;
    padding-bottom: 3px;
	color:white;
}

.deep-background-on-hover:hover{
	background:#F5F6FA;
}

.deep-background-on-hover:hover div{
	color:black;
}

.btn-mine1:hover{
	color:#505050;
	background-color:#b9bfc1;
	border-color:#ccc;
}

.btn-mine1{
	color:#fff;
	background-color:#979B9C;
	border-color:#adadad;
}

.btn-activity-main-dateBtn{
	color:#fff;
	background-color:#979B9C;
	border-color:#adadad;
}

.btn-activity-main-dateBtn:hover{
	color:#505050;
	background-color:#b9bfc1;
	border-color:#ccc;
}

.transaction-scroll{
	height:inherit;
	overflow:auto;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}



/*------------------------------我是分割线-----------------------------------------------------*/



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective:1000;
}

/* flip the pane when hovered */
.flip .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.flip-container {
	width:100%;
	height:300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	height:100%;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
	-moz-backface-visibility:hidden; 	/* Firefox */
	-ms-backface-visibility:hidden; 	/* Internet Explorer */

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	width:100%;
	height:100%;
}

/* back, initially hidden pane */
.back {
	width:100%;
	height:100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}




















